@model Briet3.Models.FileSRT

@{
    ViewBag.Title = "EditTitle";
}

<h2>Edit Subtitles</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Help make these subtitles better! We Love you for it</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FileSRTID)

        <div class="form-group">
            @Html.LabelFor(model => model.FileSRTName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileSRTName)
                @Html.ValidationMessageFor(model => model.FileSRTName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Data, new { cols = "30", rows = "15" })
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContentType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContentType)
                @Html.ValidationMessageFor(model => model.ContentType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContentLength, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContentLength)
                @Html.ValidationMessageFor(model => model.ContentLength)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
